<!DOCTYPE html>
<!-- 日英を1秒毎交互発話 Mar20'24 
    発展：発話終了後0.5秒待ち
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>日英を1秒毎交互発話</title>
    <script>
        var enFlg = true;
        var timer = NaN;
        const audio = new Audio();
        function start() {
            clearInterval(timer);
            timer = setInterval(ejPron, 1000);
        }
        function ejPron() {
            if (enFlg) {
                // audio.src = `cat.mp3`
                audio.src=`./../assets/evoice/cat.mp3`
            } else (
                audio.src =`./../assets/jvoice/猫.mp3`
            );
            audio.play();
            enFlg = !enFlg;
        }
        function stop() {
            clearInterval(timer);
        }
    </script>
</head>

<body>
    <button onclick="start()">start</button>
    <button onclick="stop()">stop</button>
</body>

</html>